body {
    /*background-color: #3a4965;*/
    background-color: darkslateblue;
    margin-top: 25px;
    margin-bottom: 25px;
}

table {
    background-color: #d3d3d3;
    border: none;
    margin: 0 auto;
}

th {
    border: none;
}


td {
    border: none;
}

tr {
    height: 69px;
    width: 310px;
}

.first-title-table {
    width: 300px;
    height: 156px;
    background-color: #fafafa;
    padding-right: 20px;
    padding-left: 20px;
}

.price-title-table {
    width: 277px;
    height: 86px;
    background-color: #fafafa;
}

.second-title-table {
    width: 300px;
    height: 70px;
    background-color: #89c331;
}

.third-title-table {
    width: 300px;
    height: 70px;
    background-color: #f04a56;
}

.fourth-title-table {
    width: 300px;
    height: 70px;
    background-color: #20807c;
}

.footer-table {
    height: 110px;
}

tr:nth-child(2n) {
    background-color: #e3e3e3;
}

tr:nth-child(2n-1) {
    background-color: #f2f2f2;
}

.price {
    background-color: #fafafa;
}

.grey-button {
    background-color: #dddddd;
}

.similar-button-style {
    background-color: #eeeeee;
}

.choose-your {
    font-family: 'Arimo', serif;
    font-size: 18pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    display: inline-block;
}

.pricing-plan {
    font-family: 'Arimo', serif;
    font-size: 30pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    display: inline-block;
}

.standard-premium-plan {
    font-family: 'Arimo', serif;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    display: inline-block;
}

.ultimate-plan {
    font-family: 'Arimo', serif;
    font-size: 30pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    display: inline-block;
}

.first-part-of-price {
    font-family: 'Arimo', serif;
    font-size: 60pt;
    color: rgba(72,72,72,255);
    text-align: left;
    font-weight: 600;
    position: relative;
    left: 15px;
    top: 12px;
}

.second-part-of-price {
    font-family: 'Arimo', serif;
    font-size: 24pt;
    color: rgba(72,72,72,255);
    text-align: center;
    font-weight: 600;
    position: relative;
    top: -20px;
    left: 15px;
}

.per-month {
    font-family: 'Arimo', sans-serif;
    font-size: 18pt;
    color: rgba(72,72,72,255);
    text-align: center;
    position: relative;
    top: -35px;
    left: 148px;
    display: inline-block;
}

.features-of-plans {
    font-family: 'Arimo', sans-serif;
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    display: block;
    text-align: center;
}

i {
    font-size: 24pt;
    color: rgba(132, 132, 132, 255);
    float: right;
}

.fa-cloud-upload-alt::before {
    content: "\f382";
    margin-right: 15px;
}

.fa-archive::before {
    content: "\f187";
    margin-right: 15px;
}

.fa-envelope::before {
    content: "\f0e0";
    margin-right: 15px;
}

.fa-life-ring::before {
    content: "\f1cd";
    margin-right: 15px;
}

.fa-box::before {
    content: "\f466";
    margin-right: 15px;
}

.fa-users::before {
    content: "\f0c0";
    margin-right: 15px;
}

.name-of-plans {
    font-family: 'Arimo', sans-serif;
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    display: inline;
    position: relative;
    top: -4px;
    font-weight: 400;
}

i.fas.fa-cloud-upload-alt {
    position: relative;
    right: 70px;
}

i.fas.fa-archive  {
    position: relative;
    right: 87px;
}

i.fas.fa-envelope {
    position: relative;
    right: 105px;
}

i.far.fa-life-ring {
    position: relative;
    right: 87px;
}

i.fas.fa-box {
    position: relative;
    right: 78px;
}

i.fas.fa-users {
    position: relative;
    right: 103px;
}


.contact-button {
    width: 202px;
    height: 56px;
    border-radius: 6px;
    position: relative;
    left: 68px;
    background-color: #484848;
    box-shadow: 0 -5px rgba(122,122,122,0.7) inset;
}

.standard-button-style {
    width: 202px;
    height: 56px;
    border-radius: 6px;
    position: relative;
    left: 51px;
    background-color: #89c331;
    box-shadow: 0 -5px rgba(122,122,122,0.3) inset;
}

.ultimate-button-style {
    width: 202px;
    height: 56px;
    border-radius: 6px;
    position: relative;
    left: 51px;
    background-color: #f04a56;
    box-shadow: 0 -5px rgba(122,122,122,0.7) inset;
}

.premium-button-style {
    width: 202px;
    height: 56px;
    border-radius: 6px;
    position: relative;
    left: 51px;
    background-color: #20807c;
    box-shadow: 0 -5px rgba(122,122,122,0.7) inset;
}

.button-text {
    font-family: 'Arimo-Bold', sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: 600;
}

.premium-button-style:hover {
    background-color: #4bcaff;
}

.ultimate-button-style:hover {
    background-color: #FA58AC;
}

.standard-button-style:hover {
    background-color: #2EFE64;
}

.contact-button:hover {
    background-color: #3B0B0B;
}

.new_row {
    display: flex;
    justify-content: center;
}

.new_row button {
    width: 275px;
    height: 55px;
    border-radius: 12px;
    background-color: aqua;
    color: rebeccapurple;
    font-size: 18pt;
    font-weight: 600;
}

.new_color {
    background-color: black;
}