
.header-navbar-box {
    width: 100%;
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
}

.header-navbar-box__logo-elem,
.header-navbar-box__list-elem,
.header-navbar-box__list-elem__items,
.header-navbar-box__list-elem__items li,
.header-navbar-box__logo-elem__picture,
.header-navbar-box__search-elem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navbar-box__logo-elem__picture {
    height: 100%;
    width: 70px;
    background-color: #1a1d20;
}

.header-navbar-box__logo-elem__title {
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Bold";
    font-size: 22pt;
    color: rgba(255,255,255,255);
    font-weight: 900;
    padding-left: 10px;
}



.header-navbar-box__list-elem__items a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Semibold";
    font-size: 15pt;
    color: rgba(255,255,255,255);
}

.header-navbar-box__search-elem {
    width: 70px;
    background-color: #171a1c;
}

.fa-search {
    width: 17px;
    height: 17px;
    color: white;
}

.header-main-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1) ), url("../img/header-bg.jpeg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.header-main-title-box__name-elem {
    font-family: "AdobeInvisFont", "OpenSans", "Courier";
    font-size: 30pt;
    font-weight: 400;
    color: rgba(255,255,255,255);
}

.header-main-title-box__buttons-elem {
    display: flex;
}

.header-main-title-box__button-item {
    width: 170px;
    height: 55px;
    color: white;
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Semibold";
    font-size: 14pt;
    font-weight: 600;
    border-radius: 4px;
}

.firstB {
    background-color: #89ca62;
    margin-right: 15px;
}

.secondB {
    background-color: #14b9d5;
    margin-left: 15px;
}

.main-wrap-flex {
    width: 100%;
    height: 1030px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrap-flex__popular-post-title {
    font-family: "AdobeInvisFont","Courier","OpenSans-Bold";
    font-size: 27pt;
    color: rgba(24,180,207,255);
    margin: 40px 0 40px 0;
}

.main-wrap-flex__img-container {
    display: flex;
}

.all-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px 25px 25px;
    width: 370px;
}

.main-wrap-flex__img-container-first-column,
.main-wrap-flex__img-container-second-column,
.main-wrap-flex__img-container-third-column {
    display: flex;
    flex-direction: column;
}

.main-wrap-flex__img-container-first-item-box {
    height: 320px;
}

.main-wrap-flex__img-container-first-item {
    background: url("../img/post-1-img@1X.png") no-repeat;
    width: 100%;
    height: 259px;
}

.main-wrap-flex__img-container-second-item-box {
    height: 320px;
}

.main-wrap-flex__img-container-second-item {
    background: url("../img/post-4-img@1X.png") no-repeat;
    width: 100%;
    height: 259px;
}

.main-wrap-flex__img-container-third-item-box {
    height: 441px;
}

.main-wrap-flex__img-container-third-item {
    background: url("../img/post-2-img@1X.png") no-repeat;
    width: 100%;
    height: 380px;
}

.main-wrap-flex__img-container-fourth-item-box {
    height: 309px;
}

.main-wrap-flex__img-container-fourth-item {
    background: url("../img/post-5-img@1X.png");
    width: 100%;
    height: 247px;
}

.main-wrap-flex__img-container-fifth-item-box {
    height: 355px;
}

.main-wrap-flex__img-container-fifth-item {
    background: url("../img/post-3-img@1X.png");
    width: 100%;
    height: 290px;
}

.main-wrap-flex__img-container-sixth-item-box {
    height: 441px;
}

.main-wrap-flex__img-container-sixth-item {
    background: url("../img/post-6-img@1X.png");
    width: 100%;
    height: 380px;
}

.main-wrap-flex__text-under-image {
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Bold";
    font-size: 14pt;
    font-weight: 600;
    color: rgba(53,58,61,255);
}

.main-wrap-grid-clients {
    width: 100%;
    height: 615px;
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1) ), url("../img/parallax-bg.jpeg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.main-wrap-grid-clients div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;
}

.main-wrap-grid-clients__item1-title {
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Bold";
    font-size: 32pt;
    color: rgba(255,255,255,255);
    text-align: center;
    margin-bottom: 80px;
}

.main-wrap-grid-clients__item2 {
    border-bottom: 3px solid #169cb4;
    width: 60px;
    margin: 0 auto;
}

.grid-wrap-top-rated {
    width: 100%;
    height: 340px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(7, 1fr);
    justify-items: stretch;
    align-items: center;
}

.grid-wrap__two-sections-titles {
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Bold";
    font-size: 27pt;
    color: rgba(24,180,207,255);
    text-align: center;
}

.grid-wrap-top-rated div img {
    width: 217px;
    height: 190px;
}

.grid-wrap-top-rated div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;
}


.grid-wrap-hot-news {
    width: 100%;
    height: 1770px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: stretch;
    align-items: center;
    grid-gap: 2vw;
    grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item2 item3"
    "item4 item4 item5 item5"
    "item6 item6 item7 item7"
    "item8 item9 item9 item9"
}


.grid-wrap-hot-news__item1 {
    grid-area: item1;
    margin-top: 100px;
}

.grid-wrap-hot-news__item2 {
    grid-area: item2;
    width: 860px;
    margin-left: 150px;
}

.grid-wrap-hot-news__item3 {
    grid-area: item3;
    margin-right: 150px;
}

.grid-wrap-hot-news__item4 {
    grid-area: item4;
    width: 555px;
    margin-left: 150px;
}

.grid-wrap-hot-news__item5 {
    grid-area: item5;
    margin-right: 150px;
}

.grid-wrap-hot-news__item6 {
    grid-area: item6;
    width: 555px;
    margin-left: 150px;
}

.grid-wrap-hot-news__item7 {
    grid-area: item7;
    width: 555px;
    margin-right: 150px;
    text-align: center;
}

.grid-wrap-hot-news__item8 {
    grid-area: item8;
    width: 277px;
    margin-left: 150px;
}

.grid-wrap-hot-news__item9 {
    grid-area: item9;
    margin-right: 150px;
}

.grid-wrap-hot-news div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;
}


.grid-wrap-hot-news__item2-container,
.grid-wrap-hot-news__item9-container {
    width: 856px;
    height: 259px;
    background-color: #f9f7f7;
}

.grid-wrap-hot-news__item2-container-img {
    width: 483px;
    height: 100%;
    background: url("../img/news-1.png") no-repeat left;
}

.grid-wrap-hot-news__item3-container,
.grid-wrap-hot-news__item8-container {
    width: 277px;
    height: 259px;
    background-color: #f9f7f7;
}

.grid-wrap-hot-news__item3-container-img {
    width: 100%;
    height: 220px;
    background: url("../img/news-2.png");
}

.grid-wrap-hot-news__item4-container,
.grid-wrap-hot-news__item5-container,
.grid-wrap-hot-news__item6-container,
.grid-wrap-hot-news__item7-container {
    width: 554px;
    height: 470px;
    background-color: #f9f7f7;
}

.grid-wrap-hot-news__item4-container-img,
.grid-wrap-hot-news__item5-container-img,
.grid-wrap-hot-news__item6-container-img,
.grid-wrap-hot-news__item7-container-img {
    width: 100%;
    height: 259px;
}

.grid-wrap-hot-news__item4-container-img {
    background: url("../img/news-3.png");
}

.grid-wrap-hot-news__item5-container-img {
    background: url("../img/news-4.png");
}

.grid-wrap-hot-news__item6-container-img {
    background: url("../img/news-5.png");
}

.grid-wrap-hot-news__item7-container-img {
    background: url("../img/news-6.png");
}

.grid-wrap-hot-news__item8-container-img {
    width: 100%;
    height: 220px;
    background: url("../img/news-7.png");
}

.grid-wrap-hot-news__item9-container-img {
    width: 483px;
    height: 100%;
    background: url("../img/news-8.png") no-repeat left;
}

.grid-wrap-hot-news-container__title {
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Bold";
    font-size: 13pt;
    font-weight: 600;
    color: rgba(53,58,61,255);
    text-align: right;
}

.grid-wrap-hot-news-container__text {
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Semibold";
    font-size: 12pt;
    color: rgba(91,100,105,255);
    text-align: right;
    padding-right: 24px;
}


.grid-wrap-hot-news__item2-container,
.grid-wrap-hot-news__item9-container {
    display: flex;
}

.for-flex {
    display: flex;
    flex-direction: column;
    width: 375px;
    align-items: center;
    padding: 5px;
}

.grid-wrap-hot-news__item3-container p {
    text-align: center;
}

.grid-wrap-hot-news__item4-container,
.grid-wrap-hot-news__item5-container,
.grid-wrap-hot-news__item6-container,
.grid-wrap-hot-news__item7-container p {
    text-align: right;
}

.grid-wrap-hot-news__item4-container,
.grid-wrap-hot-news__item5-container,
.grid-wrap-hot-news__item6-container,
.grid-wrap-hot-news__item7-container span {
    text-align: center;
}

.grid-wrap-hot-news__item8-container p {
    text-align: center;
}

.grid-footer-wrap {
    width: 100%;
    height: 80px;
    background-color: #1d2124;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.grid-footer-wrap__copyright-text {
    font-family: "AdobeInvisFont", "OpenSans", "Courier";
    font-size: 12pt;
    color: rgba(255,255,255,255);
}

.grid-footer-wrap-logo__elem {
    font-family: "AdobeInvisFont", "OpenSans", "Courier";
    font-size: 15pt;
    font-weight: 600;
    color: rgba(255,255,255,255);
}

.grid-footer-wrap-logo__elem:before {
    content: url("../img/Vector Smart Object copy 3@1X.png");
    position: relative;
    top: 10px;
}

main {
    margin-bottom: 100px;
}