html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container>.header-nav-bar {
    width: 100%;
    height: 75px;
    box-shadow: 100px 0 0 100px rgba(0, 0, 0, 0.55) inset;
}


.container>.header-nav-bar>header>h3 {
    margin: 0;
    font-family: 'Courier-Bold', serif;
    font-size: 20pt;
    position: relative;
    left: 100px;
    top: 23px;
    width: 130px;
}

.container>.header-nav-bar>header>h3>.no-decoration-link-logo {
    color: #ffffff;
    text-decoration: none;
}


.container>.header-nav-bar>header>.icons-link>.icon {
    width: 8px;
    height: 8px;
    background: url("../images/css_sprites.png") no-repeat;
    float: right;
}

.container>.header-nav-bar>header>.icons-link>.icon.calendar {
    background-position: -10px -10px;
    width: 19px;
    height: 19px;
    position: relative;
    right: 495px;
}

.container>.header-nav-bar>header>.icons-link>.icon.forum {
    background-position: -85px -10px;
    width: 34px;
    height: 23px;
    position: relative;
    right: 410px;
}

.container>.header-nav-bar>header>.icons-link>.icon.journey {
    background-position: -45px -9px;
    width: 31px;
    height: 23px;
    position: relative;
    right: 315px;
}

.container>.header-nav-bar>header>.icons-link>.icon.calendar:hover {
    background-color: #16a085;
}

.container>.header-nav-bar>header>.icons-link>.icon.forum:hover {
    background-color: #16a085;
}

.container>.header-nav-bar>header>.icons-link>.icon.journey:hover {
    background-color: #16a085;
}

.container>.header-nav-bar>header>.vertical-line-link {
    position: relative;
    right: -30px;
    top: -1px;
    float: right;
    color: white;
    font-size: 14pt;
    font-family: 'Verdana', serif;
    border-left: 1px solid darkgrey;
    padding-left: 25px;
}

.no-decoration-link {
    color: #16a085;
    text-decoration: none;
}

.container>.header-nav-bar>header>h3>a:hover {
    color: #16a085;
}

.no-decoration-link:hover {
    text-decoration: underline;
}

.container>.log-in-form>main {
    width: 430px;
    height: 620px;
    position: absolute;
    left: 36%;
    top: 14%;
    background-color: white;
    border-radius: 8px;
}

#square {
    width: 18px;
    height: 18px;
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    top: 29px;
    background-color: #16a085;
}

.sign-up {
    font-family: 'Courier-Bold', sans-serif;
    font-size: 20pt;
    color: rgba(67,67,67,255);
    position: relative;
    top: 23px;
    left: 53px;
}

.header-of-form>.no-decoration-link {
    font-size: 14pt;
    font-family: 'Courier-Bold', serif;
    color: rgba(60,184,120,255);
    position: relative;
    top: 22px;
    right: -215px;
}

.facebook-link>#facebook-rectangle {
    width: 150px;
    height: 45px;
    background-color: #305db8;
    position: absolute;
    top: 70px;
    left: 53px;
    border-radius: 4px;
}

.google-link>#google-rectangle {
    width: 150px;
    height: 45px;
    background-color: #df4a32;
    position: absolute;
    top: 70px;
    right: 65px;
    border-radius: 4px;
}

.social-networks {
    font-family: 'Courier-Bold', sans-serif;
    font-size: 16pt;
    color: #f5f6f7;
    float: right;
}

#facebook-rectangle>.social-networks{
    position: relative;
    top: 9px;
    right: 7px;
    border-left: 1px darkgrey solid;
}

#google-rectangle>.social-networks{
    position: relative;
    top: 10px;
    right: 22px;
}

#facebook-rectangle>.social-networks:before {
    content: url("../images/facebook.png");
    position: relative;
    left: -25px;
    top: 2px;
}

#google-rectangle>.social-networks:before {
    content: url("../images/google.png");
    position: relative;
    left: -10px;
    top: 1px;
    border-right: 1px darkgrey solid;
    padding-right: 10px;
}

.left-line {
    width: 128px;
    position: relative;
    left: -99px;
    top: 120px;
    color: #eaeaea;
    margin: 0 auto;
}

.right-line {
    width: 130px;
    position: relative;
    left: 85px;
    top: 118px;
    color: #eaeaea;
    margin: 0 auto;
}

.word-between-lines {
    position: relative;
    top: 105px;
    left: 197px;
    font-size: 14pt;
    font-family: 'Courier', serif;
    color: rgba(132,132,132,255);
}

.user-form-of-registration>#userData.i-form>fieldset {
    border: none;
    position: absolute;
    top: 180px;
    left: 40px;
}

.form-group {
    margin-bottom: 15px;
}

#userName, #userLastName, #userEmail, #userPassword, #userConfirmPass {
    width: 287px;
    height: 44px;
    border-radius: 4px;
    padding-left: 25px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #585858;
    font-family: 'Courier', cursive;
    font-size: 14pt;
}

#userName:focus{
    color: black;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

#userLastName:focus{
    color: black;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

#userEmail:focus{
    color: black;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

#userPassword:focus{
    color: black;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

#userConfirmPass:focus{
    color: black;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}


#userAgree {
    color: #3cb878;
}

.createAccountButton {
    width: 320px;
    height: 44px;
    background-color: #3cb878;
    color: #f5f6f7;
    font-size: 16pt;
    font-family: 'Courier-Bold', serif;
}

.span-agree {
    font-family: 'Courier-Bold', serif;
    font-size: 14pt;
}
