#myHeader{
    position: center;
    margin-bottom: 33px;
    margin-top: 33px;
    text-align: center;
}

#myPicture{
    text-align: center;
}
h3 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 23px;
}

#myText{
    text-align: center;
    font-family: "Copperplate Gothic Bold", cursive;
    font-size: 18px;
    margin-left: 47px;
    margin-right: 47px;
}

#myButton{
    text-align: center;
}

button{
    border-radius: 8px;
    width: 200px;
    height: 58px;
    margin-top: 25px;
    margin-bottom: 90px;
    background-color: #16a085;
}

#myFooterText{
    text-align: right;
    margin-top: 50px;
    font-family: "Arial Black", cursive;
}

#myFooter{
    height: 77px;
}

#myContent{
    background-color: #f5f6f7;
}

a{
    text-decoration: none;
}

#FirstLink{
    margin-right: 35px;
    font-family: "Copperplate Gothic Bold", cursive;
    font-size: 18px;
    color: #16a085;
}

#SecondLink{
    margin-right: 35px;
    font-family: "Copperplate Gothic Bold", cursive;
    font-size: 18px;
    color: #16a085;
}

#ThirdLink{
    margin-right: 35px;
    font-family: "Copperplate Gothic Bold", cursive;
    font-size: 18px;
    color: #16a085;
}

#FourthLink{
    margin-right: 35px;
    font-family: "Copperplate Gothic Bold", cursive;
    font-size: 18px;
    color: #16a085;
}