.container {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}


.logo-link {
    text-decoration: none;
    font-size: 80px;
    display: inline-block;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 35px;
    margin-bottom: 20px;
}

.menu-bar {
    display: inline-block;
    margin: 37px 50px;
    border-style: none;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    word-spacing: 0.5px;
    padding-left: 95px;
    background-color: #35444f;
    height: 65px;
    width: 88.5%;
    padding-top: 20px;
}


main {
    width: 100%;
}


.left-menushka {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    float: left;
    border: 1px solid darkgrey;
    margin-right: 52px;
    margin-left: 50px;
    margin-top: 5px;
}

.left-menushka ul>li>a {
    display: inline-block;
    padding: 0 auto;
}

.right-content {
    display: inline-block;
    box-sizing: border-box;
    width: 600px;
    float: left;
}

.maint-text p{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 7px;
    width: 850px;
    padding:0 auto;
    font-family: "Helvetica" , sans-serif;
    font-size: 18px;
    font-weight: 300;
}


.menushka ul>li>a {
    color: black;
}

.menushka ul>li:hover {
    padding-left: 7px;
}

li {
    display: inline-block;
}


.maint-text img {
    width: 880px;
    height: 520px;
}


nav li {
    display: inline-block;
}

li {
    list-style-type: none;
}

li a {
    display: inline-block;
    color: white;
    padding: 10px 50px;
}

li a:hover {
    color: aqua;
}


a.menu-bar-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: auto;
    color: white;
    text-align: center;
    margin-right: 100px;
    font-family: "Helvetica", sans-serif;
    opacity: 0.8;
}


.menu-bar li a{
    display: inline-block;
    margin: 0 auto;
    padding: 0 auto;
}

.letter-one {
    color: black;
}

.letter-two {
    color: #4bcaff;
}

a {
    text-decoration: none;
}


.first-footer {
    margin-top: 1050px;
    margin-bottom: 40px;
    padding: 20px 20px;
    padding-left: 18px;
    border-style: none;
    background-color: #b4b7ba;
    font-size: 22px;
    font-family: "Helvetica", sans-serif;
}

#footer-menu-underline {
    text-decoration: underline;
    padding-left: 10px;
    color: #3181a6;
}

.footer-menu {
    word-spacing: 5px;
    padding-left: 10px;
    color: black;
    font-family: "Helvetica" ,sans-serif;
}

.footer-copyright {
    padding-left: 380px;
    font-family: "Helvetica" ,sans-serif;
}